<mat-toolbar >
  <button mat-icon-button (click)="toggleMenu.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Mabna DP</span>
  <span class="spacer"></span>
  <div class="h-full p-1">
    <img class="h-full" src="assets/logo.svg">
  </div>
</mat-toolbar>
