<h1 mat-dialog-title>Task Dialog</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="task.title">
  </mat-form-field>
  <mat-checkbox [(ngModel)]="task.isDone">Is Done?</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close autofocus>Cancel</button>
  <button mat-button *ngIf="task.id" (click)="update()" color="primary">Update</button>
  <button mat-button *ngIf="!task.id" (click)="create()" color="primary">Create</button>
</div>
