<app-header (toggleMenu)="isMenuVisible = !isMenuVisible"></app-header>

<mat-sidenav-container class="flex-grow" autosize>

  <mat-sidenav mode="side" [(opened)]="isMenuVisible" [mode]="isMobile ? 'over' : 'side'">
    <div class="flex flex-col justify-between h-full">
      <mat-nav-list>
        <a mat-list-item>
          <mat-icon>person</mat-icon>
          <span>{{user?.name}}</span>
        </a>
        <mat-divider class="m-4"></mat-divider>
        <a mat-list-item routerLink="/back-office" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>
          <span>Back Office</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/tasks" routerLinkActive="active">
          <mat-icon>task</mat-icon>
          <span>Tasks</span>
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
      <div>
        <mat-nav-list>
          <button mat-list-item (click)="logout()">
            <mat-icon class="text-red-500">logout</mat-icon>
            Logout
          </button>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="p-4">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
