<mat-card class="w-full md:w-1/2 ">
  <mat-card-header>
    <h2>Register</h2>
    <div class="h-12 p-1 ml-auto">
      <img class="h-full" src="assets/logo.svg">
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-card-content class="mt-3">
    <form class="address-form" id="registerForm" *ngIf="registerUserForm" [formGroup]="registerUserForm"
          (submit)="onSubmitForm()">

      <mat-form-field class="w-full" color="primary">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter your username" formControlName="email" type="email">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-full" color="primary">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="Enter your full name" formControlName="name" type="text">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-full" color="primary">
        <mat-label>Phone No.</mat-label>
        <input matInput placeholder="Enter your phone number" formControlName="phoneNumber" type="tel">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-full" color="primary">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" formControlName="password" type="password">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button class="w-full md:w-auto" color="primary" type="submit" form="registerForm">Register</button>
  </mat-card-actions>

</mat-card>


