<button mat-raised-button color="primary" (click)="createTask()">Create Task</button>

<table mat-table [dataSource]="taskList$" class="mat-elevation-z1 w-full mt-4">

  <mat-text-column name="id"></mat-text-column>

  <mat-text-column name="title"></mat-text-column>

  <ng-container matColumnDef="isDone">
    <th mat-header-cell *matHeaderCellDef> Is Done?</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.isDone">checkbox</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="operation">
    <th mat-header-cell *matHeaderCellDef> Operation</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="editTask(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="removeTask(element)" class="text-red-500">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="9999">
      No task was found!
      <button mat-button color="primary" (click)="createTask()">click here</button>
      to create one.
    </td>
  </tr>
</table>
