<div class="container">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-16">
    <div class="bg-green-500 dashboard-card">Example Dashboard A</div>
    <div class="bg-red-500 dashboard-card">Example Dashboard B</div>
    <div class="bg-blue-500 dashboard-card">Example Dashboard C</div>
    <div class="bg-purple-500 dashboard-card">Example Dashboard D</div>
  </div>
  <div class="grid grid-cols-1 mt-12 ">
    <div class="bg-pink-500 dashboard-card h-40">Example Chart</div>
  </div>
</div>
