<mat-toolbar *ngIf="isMobile">
  <button mat-icon-button (click)="isMenuVisible = !isMenuVisible">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [(opened)]="isMenuVisible" [fixedInViewport]="true"
               [fixedTopGap]="isMobile?56:0">
    <div class="flex flex-col justify-between h-full">
      <mat-nav-list>
        <div class="logo mb-4">
          <img src="assets/logo.svg">
        </div>
        <mat-divider class="m-4"></mat-divider>
        <a mat-list-item routerLink="dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <mat-divider></mat-divider>
        <h3 matSubheader>Task Management</h3>
        <a mat-list-item routerLink="/tasks" routerLinkActive="active">
          <mat-icon>task</mat-icon>
          <span>Tasks</span>
        </a>
      </mat-nav-list>
      <div>
        <mat-nav-list>
          <button mat-list-item (click)="logout()" class="logout-btn">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <span class="text-center block">Mabna DP</span>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="p-4">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

